/* body {
    display: flex;
    flex-direction: column;
    background-color: pink;
} */

/* .cover {
    max-width: 50px;
    justify-items: right;
} */

/* .page {
    display: flex;
    flex-direction: column;
    background-color: orange;
} */

/* .book {
    display: flex;
    flex-direction: row-reverse;
    justify-content: left;
    max-width: 1200px; 
} */
/* 
img {
    max-width: 300px;
} */